<!-- interpolation binding -->
<!-- <h1>Welcome to {{hotelName}}</h1> -->
<hinv-header></hinv-header>

<!--  html property binding 
    [] box syntax
    () banana syntax
-->
<div [hidden]="hideRooms">
    Number of Rooms:
    <div 
    [ngStyle]="{'color':rooms.availableRooms ? 'pink': 'red'}"
    [innerText]="numberOfRooms"></div>
</div>

<!-- Event binding -->
<button (click)="toggle()">Toggle</button>


<!-- To check if rooms object exists or not -->
<!-- {{ rooms?.availableRooms ?? "No rooms"}} -->

<!-- To display objects with json pipe /// Useful for debugging not go to prod -->
<!-- {{roomList | json}} -->

<!-- using directives to DOM element -->
<div *ngIf="rooms.availableRooms != undefined && rooms.availableRooms > 0">
   <hinv-rooms-list [roomList]="roomList" [title]="title"
    (selectedRoom)="selectRoom($event)"
   ></hinv-rooms-list>
</div>

<!-- To display the selected room when selected in JSON -->
<div *ngIf="selectedRooms">
    {{selectedRooms | json}}
</div>

<!-- To add a new room -->
<div>
    <button (click)="addRoom()">AddRoom</button>
</div>